/* General */
.border-pane {
    -fx-background-color: #D1E4F1;
}

.top-hbox, .menu-hbox {
    -fx-background-color: #2E3B46;
    -fx-padding: 10; /* Espaciado interno */
}

.top-label {
    -fx-font-size: 18px;
    -fx-text-fill: WHITE; /* Texto blanco */
}

.button-add, .button-edit, .button-delete, .button-reservas, .button-search {
    -fx-text-fill: WHITE;
    -fx-border-radius: 5;
    -fx-padding: 5 10;
}

.button-add { -fx-background-color: #60b340; }
.button-edit { -fx-background-color: #FFB74D; }
.button-delete { -fx-background-color: #E57373; }
.button-reservas { -fx-background-color: #4D8FAC; }
.button-search { -fx-background-color: #4D8FAC; }

.search-field {
    -fx-background-color: #D1D9E6;
    -fx-text-fill: #3C4A5D;
    -fx-padding: 5;
}
/* Menú desplegable */
.menu-button {
    -fx-background-color: #2E3B46;
    -fx-text-fill: WHITE;
    -fx-border-radius: 5;
    -fx-padding: 5; /* Elimina cualquier borde alrededor del botón */
    -fx-border-width: 0;
    -fx-border-color: #2E3B46;
    /* Borde 0 para el botón principal */
}

.menu-button .label {
    -fx-text-fill: WHITE; /* Texto del botón principal */
}

.menu-item {
    -fx-background-color: #2E3B46; /* Fondo de las opciones */
    -fx-text-fill: WHITE; /* Texto blanco */
    -fx-padding: 5 10;
    -fx-border-color: #2E3B46; /* Color del borde de cada item */
    -fx-border-width: 0; /* Definir el grosor del borde */
    -fx-border-radius: 5; /* Redondear los bordes de cada item */
}

.menu-item:hover {
    -fx-background-color: #4D8FAC; /* Fondo al pasar el ratón */
    -fx-text-fill: WHITE;
    -fx-border-color: #4D8FAC; /* Cambio de borde al pasar el ratón */
}

.scroll-pane {
    -fx-background-color: #D1E4F1;
}

.user-card-container {
    -fx-padding: 25 0 25 0;
}
.context-menu{
    -fx-background-color: #2E3B46;
}
Label{
    -fx-text-fill: #2E3B46;
    -fx-font-weight: bold;
}


